// Import library functions for theme creation.
@import '~@angular/material/theming';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

#toolbar-title {
    margin-left: 1rem;
    margin-right: 1rem;
}
:host .spacer {
    flex: 1 1 auto;
}
:host(.dark-theme) {
    mat-toolbar {
        background-color: #333;
        transition: background-color 666ms ease-in-out;
        @include apply-theme-color($dark-theme, primary, lighter);
    }
}
:host:not(.dark-theme) {
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}