// Import library functions for theme creation.
@import '~@angular/material/theming';
@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

:host {
    #toolbar-title {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .spacer {
        flex: 1 1 auto;
    }
    mat-toolbar {
        transition: trans-color-bgcolor();
    }
}
:host(.dark-theme) {
    mat-icon {
        color: mat-theme-color($dark-theme, primary, lighter);
    }
    mat-toolbar {
        background-color: #333;
        color: mat-theme-color($dark-theme, primary, lighter, 0.66);
    }
}
:host:not(.dark-theme) {
    z-index: 2;
    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
        opacity: 0; // Hidden by default.
        transition: opacity 500ms;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    mat-toolbar {
        background-color: mat-theme-color($light-theme);
        color: $light-secondary-text;
    }
    mat-icon {
        color: $light-primary-text;
    }
}