@import '~@angular/material/theming';

@mixin apply-mat-theme($config-or-theme, $color-palette: primary, $hue: default) {
    $config: mat-get-color-config($config-or-theme);
    $palette: map-get($config, $color-palette);

    background-color: mat-color($palette, $hue);
    color: mat-contrast($palette, $hue);
}

@mixin hover-shadow($offset-x, $offset-y, $blur-radius) {
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        box-shadow: $offset-x $offset-y $blur-radius rgba(0, 0, 0, 0.5);
        opacity: 0; // Hidden by default.
        transition: opacity 500ms;
    }
    &:hover {
        transform: scale(1.01);
        &::before {
            opacity: 1;
        }
    }
}
