@import '~@angular/material/theming';
// **Be sure that you only ever include this mixin once!**
@include mat-core();


// LIGHT THEME
$light-primary: mat-palette($mat-light-blue);
$light-accent:  mat-palette($mat-light-green);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:         mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));
@include angular-material-theme($light-theme);

// DARK THEME
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent:  mat-palette($mat-cyan);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));
.dark-theme {
  @include angular-material-color($dark-theme);
}

