@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

:host {
    & > mat-drawer-container {
        transition: background-color 666ms ease-in-out;
        height: 100%;
        mat-drawer, mat-drawer-content {
            padding: 1rem;
            transition: background-color 666ms ease-in-out;
        }
    }
    #router-links {
        list-style: none;
        padding-left: unset;
        margin-top: unset;
        margin-bottom: unset;
        a {
            transition: color 200ms ease-in-out, border-color 666ms ease-in-out;
            padding-bottom: 1px;
            outline: none;
            text-decoration: none;
            border-bottom: 1px solid;
        }
        a:link, a:visited {
            border-color: rgba($color: #000000, $alpha: 0.0);
        }
        li {
            margin-bottom: 8px;
        }
    }
}
:host:not(.dark-theme) {
    mat-drawer {
        background-color: #fff;
        box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.5);
    }
    mat-drawer-container, mat-drawer-content {
        background-color: #eee
    }
    #router-links {
        a {
            color: mat-theme-color($light-theme);
        }
        a:focus {
            border-color: mat-theme-color($light-theme, primary, darker);
        }
        a:hover {
            color: mat-theme-color($light-theme, primary, darker);
        }
        a:active, a.active {
            border-color: mat-theme-color($light-theme, primary, darker);
            color: mat-theme-color($light-theme, primary, darker);
        }
    }
}
:host(.dark-theme) {
    mat-drawer {
        background-color: #222
    }
    mat-drawer-container, mat-drawer-content {
        background-color: #111
    }
    #router-links {
        a {
            color: mat-theme-color($dark-theme, primary, lighter, 0.75);
        }
        a:focus {
            border-color: mat-theme-color($dark-theme, primary, lighter);
        }
        a:hover {
            color: mat-theme-color($dark-theme, primary, lighter);
        }
        a:active, a.active {
            border-color: mat-theme-color($dark-theme, primary, lighter);
            color: #eee
        }
    }
}

