<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="opened">
    <nav>
      <ul>
        <li><a routerLink="/work-history" routerLinkActive="active">Work History</a></li>
        <li><a routerLink="/education-history" routerLinkActive="active">Education History</a></li>
        <li><a routerLink="/project-history" routerLinkActive="active">Project History</a></li>
      </ul>
    </nav>
  </mat-drawer>
  
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
  