@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

:host {
    mat-drawer-container {
        transition: trans-color-bgcolor();
        height: calc(100vh - #{$toolbar-height} - #{$footer-height});
        mat-drawer {
            padding: 1rem; // don't add padding to mat-drawer-content, or it messes with scrollbar
        }
        mat-drawer, mat-drawer-content {
            transition: trans-color-bgcolor();
        }
    }
    #router-links {
        list-style: none;
        padding-left: unset;
        margin-top: unset;
        margin-bottom: unset;
        a {
            transition: trans-color-bgcolor(), border-color 500ms ease-in-out;
            padding-bottom: 1px;
            outline: none;
            text-decoration: none;
            border-bottom: 1px solid;
        }
        a:link, a:visited {
            border-color: rgba($color: #000000, $alpha: 0.0);
        }
        li {
            margin-bottom: 8px;
            &::after {
                padding-left: 1ch;
                //content: '⬅';
                content: '⇽';
                opacity: 0;
                transition: opacity 500ms ease-in-out;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
:host:not(.dark-theme) {
    mat-drawer {
        background-color: #fff;
        box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.4);
    }
    mat-drawer-container, mat-drawer-content {
        background-color: #eee
    }
    #router-links {
        a {
            color: mat-theme-color($light-theme);
        }
        a:focus {
            border-color: mat-theme-color($light-theme, primary, darker);
        }
        a:hover {
            color: mat-theme-color($light-theme, primary, darker);
        }
        a:active, a.active {
            border-color: mat-theme-color($light-theme, primary, darker);
            color: mat-theme-color($light-theme, primary, darker);
        }
        li::after {
            color: mat-theme-color($light-theme, primary, darker);
        }
    }
}
:host(.dark-theme) {
    mat-drawer {
        background-color: #222
    }
    mat-drawer-container, mat-drawer-content {
        background-color: #111
    }
    #router-links {
        a {
            color: mat-theme-color($dark-theme, primary, lighter, 0.66);
        }
        a:focus {
            border-color: mat-theme-color($dark-theme, primary, lighter);
        }
        a:hover {
            color: mat-theme-color($dark-theme, primary, lighter);
        }
        a:active, a.active {
            border-color: mat-theme-color($dark-theme, primary, lighter);
            color: #eee
        }
        li::after {
            color: mat-theme-color($dark-theme, primary, lighter);
        }
    }
}

