<!-- mat-drawer-container autosize -->
<mat-drawer-container id="drawer-container">
  <mat-drawer #drawer mode="side" [opened]="opened">
    <nav>
      <ul id="router-links">
        <li>
          <a
            routerLink="/work-history"
            routerLinkActive="active"
            class="mat-body-1"
            (click)="routeClicked('Work')"
          >Work History</a></li>
        <li>
          <a
            routerLink="/education-history"
            routerLinkActive="active"
            class="mat-body-1"
            (click)="routeClicked('Education')"
          >Education History</a></li>
        <li>
          <a
            routerLink="/project-history"
            routerLinkActive="active"
            (click)="routeClicked('Projects')"
            >Project History</a></li>
      </ul>
    </nav>
  </mat-drawer>
  
  <mat-drawer-content>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
  