@import '~@angular/material/theming';
@import '../../styles/variables.scss';
@import '../../styles/functions.scss';
@import '../../styles/mixins.scss';

:host {
    #work-history-container {
        padding-bottom: 32px;
    }
    a {
        margin: 3px;
    }
    mat-card {
        margin: 1rem;
        max-width: 400px;
    }
    mat-card-actions {
        margin-bottom: 0;
    }
    ul {
        padding-left: 2ch;
    }
}