@import '~@angular/material/theming';
@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

:host {
    mat-card, mat-card-subtitle {
        transition: trans-color-bgcolor();
    }
    mat-card {
        margin: 1rem;
        max-width: 400px;
    }
    ul {
        padding-left: 2ch;
    }
}